%form{ :action => "/auth/register", :method => "post"}
  %fieldset
    %ul
      %li
        %label{:for => "username"} UserName:
        %input{:type => "text", :name => "username", :class => "text"}
      %li
        %label{:for => "email"} E-mail:
        %input{:type => "text", :name => "email", :class => "text"}
      %li
        %label{:for => "password"} Password:
        %input{:type => "password", :name => "password", :class => "password"}
      %li
        %label{:for => "password"} Confirm Password:
        %input{:type => "password", :name => "password", :class => "password"}
    %input{:type => "submit", :value => "Send", :class => "button"}