%form{id: 'register_form', action: '/auth/register', method: 'post'}
  %fieldset
    %ul{style: 'list-style-type: none'}
      %li
        %span{class: 'labels'}
          %label{for: 'username'} UserName:
        %span{class: 'values'}
          %input{type: 'text', name: 'username', class: 'text'}
      %li
        %span{class: 'labels'}
          %label{for: 'email'} E-mail:
        %span{class: 'values'}
          %input{type: 'text', name: 'email', class: 'text'}
      %li
        %span{class: 'labels'}
          %label{for: 'password'} Password:
        %span{class: 'values'}
          %input{type: 'password', name: 'password', class: 'text'}
      %li
        %span{class: 'labels'}
          %label{for: 'password'} Confirm Password:
        %span{class: 'values'}
          %input{type: 'password', name: 'password', class: 'text'}
      %li
        %input{type: 'submit', value: 'Send', class: 'button'}
