%div{class: "projectsList"}
  %div{class: "createProjectBtn"}
    %a{href: '/projects/new'}
      Create a new project
  %ul{class: "list"}
    -user.projects.each do |project|
      %div
        %a{href:"/projects/#{project.id}", class: "projectBtn"}
          =project.name
%div{class: "form"}
  %ul
    -(Project.all - user.projects).each do |project|
      %li
        =project.name
        %a{href:"/projects/#{project.id}/enroll", class: "enrollBtn"}
          enroll
