%form{id: 'new_project_form', action: "/projects", method: "post"}
  %label{for: "name"} Project Name:
  %input{type: "text", name: "name", class: "text"}
  %input{type: "submit", value: "Send", class: "button"}