%form{id: 'new_project_form', action: "/projects", method: "post"}
  %ul
    %li
      %label{for: "name"} Project Name:
      %input{type: "text", name: "name", class: "text"}
    %li
      %label{for: "description"} Description:
      %textarea{name: "description", class: "text", form:'new_project_form'}
  %div
    %input{type: "submit", value: "Send", class: "button"}
