%form{id: 'new_project_form', class: 'form', action: "/projects", method: "post"}
  %ul
    %li
      %span{class: 'labels'}
        %label{for: "name"} Project Name:
      %span{class: 'values'}
        %input{type: "text", name: "name", class: "text"}
    %li
      %span{class: 'labels'}
        %label{for: "description"} Description:
      %span{class: 'values'}
        %textarea{name: "description", class: "text", form:'new_project_form'}
    %li
      %input{type: "submit", value: "Send", class: "button"}
