%h1=project.name

%p=project.description
%table{border: '1', cellspacing: '10px'}
  %tr
    %td
      %a{href: "/projects/#{project.id}/iterations/new"}Create New Iteration
    %td
      %a{href: "/projects/#{project.id}?step=-1"} previous
    %td
      %a{href: "/projects/#{project.id}?current=1"} current
    %td
      %a{href: "/projects/#{project.id}?step=1"} next
  %tr
    %td Backlog
    - 3.times do |i|
      -if iterations[i]
        %td=iterations[i].title
      -else
        %td add more iterations
