%div{class: "jumbotron"}
  %h1 Jenny!
  %p Welcome to Jenny, a task manager system for agile development.
  %p
    %a{href: '/auth/login', class:"btn btn-primary btn-lg", role:"button"}Login
    %a{href: '/auth/register', class:"btn btn-primary btn-lg", role:"button"}Register
