%html
  %head
    %meta{charset:'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: 'Agile development software'}
    %meta{name: 'author', content: 'Angel Venchev'}
    - if locals[:page_title]
      %title= locals[:page_title]
    - else
      %title Jenny
    %link{rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
    %link{rel: "stylesheet", href: "//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"}
    %link{rel: "stylesheet", href: "/public/css/styles.css"}

    %script{src: "//code.jquery.com/jquery-1.10.2.min.js"}
    %script{src: "//code.jquery.com/ui/1.10.4/jquery-ui.js"}
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    %script{src: "/public/js/remove_alert.js"}
    %script{src: "/public/js/datepicker.js"}
  %body
    %div{class: "navbar navbar-inverse navbar-fixed-top"}
      %div{class: "container"}
        /picture
        %div{class: "navbar-header"}
          %button{type: "button", class: "navbar-toggle",:'data-toggle' => "collapse", :'data-target' => ".navbar-collapse"}
            %span{class: "icon-bar"}
            %span{class: "icon-bar"}
            %span{class: "icon-bar"}
          %a{class: "navbar-brand", href:"/projects"}Jenny
        %div{class: "collapse navbar-collapse"}
          %ul{class: "nav navbar-nav"}
            -if locals[:project]
              %li
                %a{href: "#{locals[:home]}"}Dashboard
            %li
              %a{href: '/auth/logout'}Logout
            %li
              / should lead to user settings
              %a=user.username
    %div{class: "container"}
      -if flash[:notice]
        %p{class: "alert alert-success"}
          =flash[:notice]
      -if flash[:error]
        %p{class: "alert alert-warning"}
          =flash[:error]
    =yield

